# Lark Open Platform credentials (required for e2e tests)
# Create an app at https://open.larksuite.com/app
LARK_APP_ID=cli_xxxxxxxxxxxxxxxx
LARK_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Open ID of the user to send test cards to.
# You can get the open_id from the Lark API.
LARK_OPEN_ID=ou_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
